*.class
.vscode
.DS_Store
.project
.classpath
.settings
.idea
*.iml
*.sh
lib
logFile
out
test_results.json

__worker
__worker[0-9]*-current.jar
worker1

crawler.jar
indexer.jar
pagerank.jar
job-[0-9]*.jar

9001

log.txt